*{
    font-weight: bold;
}

.img{
    width: 250px;
    margin-left: 10px;
}
nav{
    display: flex;
    background-color: black;
    padding: 5px;
    
}
.dropdown {
    float: left;
    overflow: hidden;
    margin-left: 50px;
    margin-top: 17px;
}
.dropbtn{
    margin-top: -100px;
    color: rgb(130, 191, 231);
}
.dropdown .dropbtn {
    font-size: large;
    border: none;
    outline: none;
    color: rgb(130, 191, 231);
    padding: 10px;
    background-color: inherit;
    margin : 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 20px;
    background-color: lightslategrey;
    color: white;
    margin-top: -10px;
    min-width: 750px;
    margin-left: 10px;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    margin-top: 5px;
    padding: 7px 16px;
    text-decoration: none;
    border-radius: 15px;
    display: block;
    text-align: left;
    font-size: large;
    margin-left: 10px;
    
  }
.dropdown-content a:hover {
    background-color: #ddd;
    width: 215px;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.dropdown-content1 {
    display: none;
    position: absolute;
    border-radius: 20px;
    background-color: lightslategrey;
    color: white;
    margin-top: -10px;
    min-width: 430px;
    margin-left: 10px;
    position: absolute;
    z-index: 1;
}

.dropdown-content1 a {
    float: none;
    color: white;
    margin-top: 5px;
    padding: 7px 16px;
    text-decoration: none;
    border-radius: 15px;
    display: block;
    text-align: left;
    font-size: large;
    margin-left: 10px;
}

.dropdown-content1 a:hover {
    color: black;
    background-color: white;
}

.dropdown:hover .dropdown-content1 {
    display: block;
}
.dropbtn:hover {
    color: white;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    border-radius: 20px;
    background-color: lightslategray;
    color: white;
    margin-top: -10px;
    min-width: 150px;
    margin-left: 10px;
    position: absolute;
    z-index: 1;
}

.dropdown-content2 a {
    float: none;
    color: white;
    margin-top: 5px;
    padding: 7px 16px;
    text-decoration: none;
    border-radius: 15px;
    display: block;
    text-align: left;
    font-size: large;
    margin-left: 10px;
}

.dropdown-content2 a:hover {
    color: black;
    background-color: white;
}

.dropdown:hover .dropdown-content2 {
    display: block;
}
.dropbtn:hover {
    color: white;
}

.dropdown-content3 {
    display: none;
    position: absolute;
    border-radius: 20px;
    background-color: lightslategray;
    color: white;
    margin-top: -10px;
    min-width: 530px;
    margin-left: -350px;
    position: absolute;
    z-index: 1;
}

.dropdown-content3 a {
    float: none;
    color: black;
    margin-top: 5px;
    padding: 7px 16px;
    text-decoration: none;
    border-radius: 15px;
    display: block;
    text-align: left;
    font-size: large;
    margin-left: 0px;
}

.dropdown-content3 a:hover {
    color: black;
    background-color: white;
}

.dropdown:hover .dropdown-content3 {
    display: block;
}
.dropbtn:hover {
    color: white;
}


.Mission{
    color: #2e86c1;
    width: 300px;
    border-radius: 0px 20px 20px 0px;
    font-size: 35px;
    font-family: initial;
    margin-left: 14px;
}
.Mission:hover{
    color: white;
    background-color: #2e86c1;
    width: 300px;
    animation: fa-solid 1s infinite alternate;
    margin-left: -7px;
    box-shadow: 7px 7px 7px lightslategray;
}
.Mission1{
    color: #2e86c1;
    width: 500px;
    border-radius: 0px 20px 20px 0px;
    font-size: 35px;
    font-family: initial;
    margin-left: 10px;
}
.Mission1:hover{
    color: white;
    background-color: #2e86c1;
    margin-left: -7px;
    animation: fa-solid 1s infinite alternate;
    width: 400px;
    box-shadow: 7px 7px 7px lightslategray;
}

.image003{
    filter: grayscale(0%);
    transition: 0.5s ease;
    cursor: pointer;
    margin-left: 14px;
    width: 300px;
  }
  .under2{
    border-radius: 10px 120px;
    width: -1000px;
  }
  .image003:hover{
    transform: scale(1.1);
    filter: grayscale(100%);
    box-shadow: 15px 15px 15px lightslategrey;
  }
  
  .image004{
    filter: grayscale(0%);
    transition: 0.5s ease;
    cursor: pointer;
    margin-left: 24px;
    width: 400px;
  }
  .under2{
    border-radius: 10px 120px;
    width: -1000px;
  }
  .image004:hover{
    transform: scale(1.1);
    filter: grayscale(100%);
    box-shadow: 15px 15px 15px lightslategrey;
  }

  .img1{
    border: 1px solid black;
    border-radius: 50px;
    margin-left: 150px; 
    width: 80px;

}

.img1:hover{
    box-shadow: 2px 2px 10px gray;
    border: navajowhite;
    transform: scale(1.1);
    transition: transform 0.10s;
}   

.btn{
    padding: 8px 16px ;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: navajowhite;
    border-radius: 10px;
    margin-left: 40%;
}

.btn:hover{
    box-shadow: 2px 2px 10px gray;
    color: rgba(0, 0, 0, 0.8);
    background-color: white;
}

.button {
    width: 150px;
    height: 40px;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0 107 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  margin-top: -30px;
  margin-left: 10px;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

.buttonn {
    width: 150px;
    height: 40px;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0 107 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  margin-left: 440px;
  margin-top: -10px;
}

.icon2 {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.buttonn:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.buttonn:hover .icon {
  transform: translate(4px);
}

.buttonn:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.buttonn::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

.buttonn1 {
  width: 150px;
  height: 40px;
position: absolute;
transition: all 0.3s ease-in-out;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
padding-block: 0.5rem;
padding-inline: 1.25rem;
background-color: rgb(0 107 179);
border-radius: 9999px;
display: flex;
align-items: center;
justify-content: center;
color: #ffff;
gap: 10px;
font-weight: bold;
border: 3px solid #ffffff4d;
outline: none;
overflow: hidden;
font-size: 15px;
margin-left: 340px;
margin-top: 90px;
}

.icon1 {
width: 24px;
height: 24px;
transition: all 0.3s ease-in-out;
}

.buttonn1:hover {
transform: scale(1.05);
border-color: #fff9;
}

.buttonn1:hover .icon {
transform: translate(4px);
}

.buttonn1:hover::before {
animation: shine 1.5s ease-out infinite;
}

.buttonn1::before {
content: "";
position: absolute;
width: 100px;
height: 100%;
background-image: linear-gradient(
  120deg,
  rgba(255, 255, 255, 0) 30%,
  rgba(255, 255, 255, 0.8),
  rgba(255, 255, 255, 0) 70%
);
top: 0;
left: -100px;
opacity: 0.6;
}

@keyframes shine {
0% {
  left: -100px;
}

60% {
  left: 100%;
}

to {
  left: 100%;
}
}


.button1 {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
    margin-left: 470px;
  }
  
  #btn:hover,:focus {
    color: #008cff;
    background: #ffffff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #008cff,
                0 0 10px #008cff,
                0 0 20px #008cff;
    box-shadow: 0 0 5px #77c2ff,
                0 0 20px #008cff,
                0 0 50px #008cff,
                0 0 100px #008cff;
  }


  .ul1{
    margin-left: 60px;
    font-size: 16px;
}
.ul2{
    padding-left: 350px;
    margin-top: -250px;
    font-size: 16px;
}
.ul1 :hover{
    color: goldenrod;
}
.ul2 :hover{
    color: goldenrod;
}
.ul3 :hover{
    color: goldenrod;
}
.span1{
    font-size: 27px;
    color: goldenrod;
}
.span1:hover{
    color: white;
    cursor: pointer;
}
.span2{
    font-size: 27px;
    color: goldenrod;
    padding-left: 202px;
    margin-top: 00px;
}
.span2:hover{
  color: white;
  cursor: pointer;
}
.ul3{
    padding-left: 580px;
    margin-top  : -250px;
    font-size: 16px;
}
.fimg{
    padding-left: 950px;
    margin-top: -250px;
}
.ul4{
    margin-left: 60px;
    font-size: smaller;
}
.ul4 :hover{
  color: goldenrod;
}
.lll{
  animation: fa-solid 1s infinite alternate;
}
@keyframes fa-solid{
  0%{text-shadow: 0px 0px 0px red;}
  100%{text-shadow: 0px 0px 10px red;}
}
